<h1>App Vehiculo</h1>

<div>
    <%= link_to "Personas", personas_path, class: "btn btn-default dropdown-toggle" %>
     <%= link_to "Vehiculos", vehiculos_path, class: "btn btn-default dropdown-toggle" %>
</div>
