// Place all the styles related to the Personas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary {
    background-size: 55px; 
    background-color: blue;
    color: white;
    padding: 3px 10px;
    border: PowderBlue 2px solid;
    border-radius: 8px;
}